* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {    
    display: flex; 
    align-items: center;
    justify-content: space-around; 
    padding: 10px;
    background-color: #475d7c;
    color: white;
}

.nav-list {
    display: flex;
    gap: 15px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}
